* {
    margin: 0 auto;
    padding: 0;
    vertical-align: top;
    font-family: san-serif;
    box-sizing: border-box;
}
h3 {
    color: rgb(133, 47, 133);
    display: inline-block;
    width: 300px;
    margin-top: 20px;
    margin-left: 850px;
    margin-bottom: 20px;
}
#date_time {
    width: 250px;
    height: 150px;
    border: 5px solid hotpink;
    text-align: center;
    color: purple;
    padding-top: 35px;
}